#movie-data-op .row{
	margin:5px 0;
	padding:5px 0;
}
div.ccm-page main a,#movie-data-op .row a{
	font-size:15px;
	color:#9A9A9A;
}
#movie-data-op .row h4{
	padding:0;
	margin:0;
	font-size: 1.2em;
	font-weight:700 !important;
	color:#ca0012 !important;
}
.carousel-wrap{
	margin-bottom:40px;
}
#listing-date{
	font-size:23px;
	margin-bottom:40px;
	height: 44px;
}
.scrollableArea img{
	margin:10px;
	cursor: pointer;
}
.buy-tickets a{
	display:inline-block;
	background:#f15500;
	padding:10px;
	padding-right:10px !important;
	border-radius:5px;
	color:#fff !important;
	margin-bottom: 3px;
}